
<div class="jumbotron">
<h1>Alumnos</h1>
<p>Relación de alumnos</p>
<table class="table">
	<thead>
		<th>id</th>
		<th>Apellidos</th>
		<th>Nombre</th>
		<th>Curso</th>
		<th>Clase</th>
		<th>FchNacimiento</th>
		<th></th>
	</thead>
	<tbody>
	<tr>
		<td>8155</td>
		<td>Pulido Montes</td>
		<td>Gabriel</td>
		<td>Primaria</td>
		<td>1 A</td>
		<td>2010/04/22</td>
		<td><%= link_to "Ver", 'static/alu8155' %></td>
	</tr>
	<tr>
		<td>9619</td>
		<td>Muñoz Muñoz</td>
		<td>Ernesto</td>
		<td>Primaria</td>
		<td>1 A</td>
		<td>2010/11/12</td>
		<td><%= link_to "Ver", 'static/alu9619' %></td>
	</tr>
	<tr>
		<td>7658</td>
		<td>Nabhan</td>
		<td>Kloloud</td>
		<td>Primaria</td>
		<td>1 A</td>
		<td>2010/01/25</td>
		<td><%= link_to "Ver", 'static/alu9619' %></td>
	</tr>
	</tbody>
</table>
</div>