<div class="jumbotron">
	<h1><%= image_tag('lighthouse.png',size:'50') %>Plan de Acción Tutorial </h1>

	<div class="row">
	<h3> Reuniones de coordinación </h3>
	</div>
	<div class="table-responsive">
	<table class="table">
		<thead > 
			<th >1ºESO</th>
			<th>2ºESO</th>
			<th>3ºESO</th>
			<th>4ºESO</th>
			<th>1ºBACH</th>
			<th>2ºBACH</th>	
		</thead>
		<tbody>
		<tr>
			<td> Miércoles <br/>9:10 - 10:05 </td>
			<td> Jueves <br/> 12:15 - 13:10 </td>
			<td> Jueves <br/> 10:55 - 10:55 </td>
			<td> Viernes <br/> 12:15 - 13:10 </td>
			<td> Jueves <br/> 11:20 - 12:15 </td>
			<td> Martes <br/> 9:10 - 10:05 </td>
		</tr>
		</tbody>
	</table>
	</div>


	<div class="row">
	<h3> Actividades de tutoría 1er Trimestre </h3>
	</div>

	<div class="row">
	    <div class="col-xs-6 col-md-4">
	      <div id="datepicker1"></div>
	    </div>
	  	<div class="col-xs-6 col-md-8">
			<div class="panel-group" id="accordion">
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">

			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
			        5-9 Septiembre Bienvenida al alumnado</a>
			      </h4>
			    </div>
			    <div id="collapse1" class="panel-collapse collapse in">
			      <div class="panel-body">
			      	<p>Dar una acogida cálida al alumnado. Informar sobre funcionamiento del centro.</p>
			      	<li>Bienvenida al alumnado.</li>
					<li>Dinámica “¿Quién soy? PLAN DE ACOGIDA </li>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default alert-danger">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
			        12-16 Septiembre Votación Elección de Delegado</a>
			      </h4>
			    </div>
			    <div id="collapse2" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<p>Motivar elección responsable. Elegir Delegado</p>
					<li>Votación Elección Delegado.</li>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default alert-success">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
			        19-23 Septiembre Actividad “Tú, ¿¡Qué harías!?"</a>
			      </h4>
			    </div>
			    <div id="collapse3" class="panel-collapse collapse ">
			      <div class="panel-body">
			      <p>Conocer más en profundidad al alumnado y evitar conflictos</p>
			      <li>Actividad “Tú, ¡Qué harías!?</li>
			      </div>
			    </div>
			  </div>
			</div>
	  	</div>
	</div>
	<div class="row">
	    <div class="col-xs-6 col-md-4">
	      <div id="datepicker2"></div>
	    </div>
	</div>
	<div class="row">
	    <div class="col-xs-6 col-md-4">
	      <div id="datepicker3"></div>
	    </div>
	</div>
	<div class="row">
	    <div class="col-xs-6 col-md-4">
	      <div id="datepicker4"></div>
	    </div>
	</div>
</div>

<script>

    $(document).ready(function () {
	    $('#datepicker1').datepicker({
	    	startDate: "01/09/2016", 
	    	endDate: "30/09/2016", 
	        format: "dd/mm/yyyy",
	        weekStart: 1,
	        language: "es",
	        daysOfWeekDisabled: "0,6", 
			beforeShowDay: function (date) {
				if ((date.getMonth())=='0'){
					switch((date.getDate())){
						case 4:
							return {color: 'Green' };
						case 5:
							return {tooltip: 'Taller de padres',classes: 'active'};
						case 17:
							return {tooltip: 'Tutoría',classes: 'active'};
						case 18:
							return {tooltip: 'Tutoría',classes: 'active'};
					}
				}
	      }
	    });

	    $('#datepicker2').datepicker({
	    	startDate: "01/10/2016", 
	    	endDate: "31/10/2016", 
	        format: "dd/mm/yyyy",
	        weekStart: 1,
	        language: "es",
	        multidate: true,
	        daysOfWeekDisabled: "0,6",

			beforeShowDay: function (date) {
	            if ((new Date()).getMonth()==1)
	                switch (date.getDay()) {
	                    case 2:
	                        return {
	                            tooltip: 'Tutoría',
	                            classes: 'active'
	                        };
	                    case 1:
	                        return "green";
	                }

	        }

	    });


	    $('#datepicker3').datepicker({
	    	startDate: "01/11/2016", 
	    	endDate: "30/11/2016", 
	        format: "dd/mm/yyyy",
	        weekStart: 1,
	        language: "es",
	        multidate: true,
	        daysOfWeekDisabled: "0,6",
	        daysOfWeekHighlighted: "1,2,3,4,5", 
			beforeShowDay: function (date) {
	            if ((new Date()).getMonth()==1)
	                switch (date.getDay()) {
	                    case 2:
	                        return {
	                            tooltip: 'Tutoría',
	                            classes: 'active'
	                        };
	                    case 1:
	                        return "green";
	                }

	        }

	    });

	    $('#datepicker4').datepicker({
	    	startDate: "01/12/2016", 
	    	endDate: "30/12/2016", 
	        format: "dd/mm/yyyy",
	        weekStart: 1,
	        language: "es",
	        multidate: true,
	        daysOfWeekDisabled: "0,6",
	        daysOfWeekHighlighted: "1,2,3,4,5", 
			beforeShowDay: function (date) {
	            if ((new Date()).getMonth()==1)
	                switch (date.getDay()) {
	                    case 2:
	                        return {
	                            tooltip: 'Tutoría',
	                            classes: 'active'
	                        };
	                    case 1:
	                        return "green";
	                }

	        }

	    });
	});
</script>